@import '../../custom-variables.scss';

.TodoFolders {
  float: left;
  min-height: 100vh;
  margin: 0;
  padding: 0 20px;
  box-shadow: 5px 0 10px 0 rgba(213, 221, 243, 0.3);
  z-index: 2;
  &--seeAllFolders {
    position: relative;
    margin-top: 50px;
    transform: scale(1);
    transition: all 0.1s ease-in-out;
    width: 100%;
    &:hover {
      cursor: pointer;
      transform: scale(1.08) translateX(6px);
    }
  }
  h2 {
    small {
      font-size: 50%;
      float: right;
    }
  }
  h3 {
    margin-top: 50px;
    svg {
      position: relative;
      top: 3px;
    }
  }
}
