@import '../../../custom-variables.scss';

.TodoItem {
  background: #fff;
  clear: both;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.05);
  margin: $item-spacing 0;
  cursor: pointer;
  transform: translateY(0px);
  transition: all 0.1s ease-in-out;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.1);
  }
  &__action--done {
    // TODO
  }
  &__action--delete {
    content: '';
    position: absolute;
    padding: 1px;
    right: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    text-align: center;
    background: #ff605c;
    box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: all 0.1s ease-in-out;
    svg {
      position: relative;
      top: 1px;
    }
    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.3);
    }
  }

  &__item {
    padding: 10px;
    width: 100%;
    &--time {
      float: right;
      color: gray;
      text-align: right;
      width: 100%;
    }
  }
}
