@import '../../../custom-variables.scss';

.TodoItem {
  position: relative;
  background: #fff;
  border: 1px solid $light-gray;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.05);
  margin: $item-spacing 0;
  cursor: pointer;
  transform: translateY(0px);
  transition: all 0.1s ease-in-out;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.1);
  }
  &__action--done {
    // Hiding checkbox
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    // Setting checkbox untoggled border
    &:hover ~ .check-toggle {
      border-color: $blue;
      background: #fff
        url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM1ZDhhZWUiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=)
        center no-repeat;
      background-size: 50%;
    }
    // Setting checkbox border effect when focused
    &:focus ~ .check-toggle {
      border-color: #b0d5ff;
      box-shadow: 0 0 0 2px lighten($blue, 15%);
    }
    // Setting fill of cheeckbox
    &:checked ~ .check-toggle {
      border-color: $blue;
      background: $blue
        url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=)
        center no-repeat;
      background-size: 80%;
    }
    // Checkbox style unchecked
    & ~ .check-toggle {
      position: relative;
      bottom: 1px;
      transition: all 0.1s ease-in-out;
      width: 1.1rem;
      height: 1.1rem;
      display: inline-block;
      vertical-align: middle;
      border: 2px solid lighten($blue, 15%);
      border-radius: 50%;
      cursor: pointer;
    }
  }
  label {
    float: left;
    width: 20px;
    margin-right: 10px;
  }
  &__item {
    width: 100%;
  }
}
