.ListHeader {
  form {
    display: inline-block;
  }
  &__folder--input {
    font-size: 1.3rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border: none;
    margin-bottom: 10px;
    float: left;
    &:focus {
      outline: none;
      border-bottom: 1px solid #000;
    }
  }
  &__folder--delete {
    float: right;
    vertical-align: middle;
  }
}
