@import '../custom-variables.scss';

.Errors {
  position: fixed;
  color: #fff;
  top: 10px;
  right: 10px;
  background: $red;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
  &.error-visible {
    opacity: 1;
  }
  &.error-hidden {
    opacity: 0;
  }
}
