.AddTodo {
  display: flex;
  position: relative;
  &__addTodoField {
    width: 100%;
    margin: 15px;
    padding: 15px;
    font-size: 1.6rem;
    float: left;
    position: relative;
    border: none;
    border-radius: 5px;
    &:focus {
      outline: none;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    }
  }
  &__action {
    &--add {
      position: absolute;
      cursor: pointer;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      font-size: 2rem;
      border: none;
      background: none;
    }
  }
}
