@import '../../custom-variables.scss';

.TodoSidebar {
  float: left;
  height: 100vh;
  margin: 0;
  padding: 0 20px;
  box-shadow: 5px 0 10px 0 rgba(213, 221, 243, 0.3);
  z-index: 2;
  &--seeAllFolders {
    position: relative;
    margin-top: 50px;
    // padding: 10px 0;
    transform: scale(1);
    transition: all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
      font-weight: 700;
    }
  }
  h2 {
    small {
      font-size: 50%;
      float: right;
    }
  }
  h3 {
    margin-top: 50px;
  }
}
