$folder-padding: 10px;

.Folders {
  width: 250px;
  .Folder {
    // background: #f7f7f7;
    padding: $folder-padding;
    transform: scale(1);
    transition: all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
      // background: #e3e3e3;
      transform: scale(1.08) translateX(6px);
    }

    &--icon {
      content: '';
      pointer-events: none;
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 5px;
    }

    &--name {
      display: inline-block;
      width: 85%;
      margin: 0;
      vertical-align: middle;
      pointer-events: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--badge {
      float: right;
      position: absolute;
      top: 50%;
      right: $folder-padding;
      transform: translateY(-50%);
      font-size: 0.8rem;
      padding: 5px 0px;
      color: #808080;
      // border-radius: 5px;
      // background: rgb(238, 238, 238);
    }
    &--count {
      float: right;
    }
    &--delete {
      display: none;
      float: left;
      z-index: 4;
    }
    &--open {
      font-weight: bold;
    }
  }
}
