.OpenItem {
  padding: 0 15px;
  min-width: 270px;
  // box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.1);
  background: rgb(240, 240, 240);
  @media (max-width: 800px) {
    min-width: 85vw;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    box-shadow: 0px 0 50px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 8;
    opacity: 0.98;
    transition: opacity 0.2s ease-in-out;
  }
  &__actions {
    width: 100%;
    padding-left: 0;
  }
  &__note-input {
    font-size: 1rem;
    flex: 0 0 100%;
    box-sizing: border-box;
    width: 100%;
    display: block;
    border: none;
    box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
  }
  &__info {
    &--time {
      font-size: 0.8rem;
      text-align: right;
      padding: 5px 0;
    }
  }
  &__close {
    cursor: pointer;
    text-align: left;
    margin: 20px 0;
    width: 100%;
  }
}
