.TodoSheet {
  width: 100%;
  margin: 0 15px;
}

.small-btn {
  cursor: pointer;
  padding: 10px 0;
  margin: 5px 0;
  list-style: none;
  transition: box-shadow 0.1s ease-in-out;
  vertical-align: middle;
  transition: all 0.1s ease-in-out;
}

.btn-update {
  color: rgb(11, 27, 79);
  &:hover {
    color: rgb(79, 34, 213);
  }
}

.btn-delete {
  color: rgb(87, 19, 12);
  &:hover {
    color: rgb(222, 11, 11);
  }
}
