.TodoItem__footer {
  flex: 1;
  background: rgb(227, 227, 227);
  padding: 5px;
  &--time {
    float: right;
    color: gray;
  }
  &--folder {
    float: left;
    border: 1px solid;
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 2px 5px;
    font-weight: 700;
    border-radius: 5px;
    opacity: 1;
    max-width: 50%;
  }
}
