@import './components/custom-variables.scss';
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

body {
  color: $text-main;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
textarea {
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

p {
  margin: 0;
}

// Spinner
.css-12imlsk-wrapper-wrapper {
  position: fixed !important;
  width: 100vw !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  .css-1x6aoof-style,
  .css-l4j5ob-style {
    background-color: $blue !important;
  }
}

#root {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  background: $main-background;
}

// Global colors
.red,
.green,
.blue,
.yellow,
.gray,
.orange,
.pink {
  color: #fff;
}
.red {
  background: $red;
}
.green {
  background: $green;
}
.blue {
  background: $blue;
}
.yellow {
  background: $yellow;
}
.gray {
  background: $gray;
}
.orange {
  background: $orange;
}
.pink {
  background: $pink;
}

.mini-btn {
  font-size: 1rem;
  padding: 5px 8px;
  border: 1px solid $light-gray;
  cursor: pointer;
}
