@import '../../custom-variables.scss';

.UserOptions {
  opacity: 1;
  margin-top: 15px;
  &__option {
    color: $gray;
    transition: all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
      color: $red;
    }
    svg {
      position: relative;
      top: 3px;
    }
  }
}
